.main-div{
background-color:rgb(1, 1, 21);
height: 100vh;
color:aliceblue;
}

body{
    background-color:rgb(6, 6, 60);
}


.header{
display: flex;
justify-content: space-between;
margin: 10px;
text-shadow: 0 0 5px white;
}


.player{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;

}


.upgrade-list{
display: flex;
flex-direction: column;
align-items: start;
}


.action-buttons{
display: flex;
flex-direction: column;
gap: 10px;
color: white;
}


.action-button{
background-color: blue;
}


.player-button{
 width: 50vh;
 height: 4vh;
background-color: red;
border-radius: 40px ;
border: black;
box-shadow: 0 0 5px red,
0 0 25px red;
text-shadow: 0 0 5px black ;

}



.pic{
width: 50px;
}

.coin-img{
    width: 20px;
    
}

.credit{
    display: flex;
    width: 30px;
    height: 30px;
}

.upgrades-action-cards{
    display: flex;
    gap: 30px;
}
.upgrade-list{

  text-shadow: 0 0 5px white;
  


}



